* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(26, 26, 125);
  font-family: cursive, 'Style Script';
  font-size: 12px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
}

.content{
  background-color: #3e4a8e;
}

.btn-group{
  bottom: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.btn_active{
  background-color: rgb(26, 26, 125);
}

.btn_inactive{
  background-color: #3e4a8e; 
}

.btn-group button {
  border: 1px solid lightskyblue;
  color: white; /* White text */
  padding: 3px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Style Script';
  font-size: 12px;
  }
  
/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: rgb(26, 26, 125);
}